html{
    height:100%;
    }
    body{
    background:url("img/responsive.jpg");
    background-size: cover;
    background-position: center;
    font-family:Tinos;
    }
    .center{
    text-align: center;
         padding-left: 25%;
         padding-top: 10%;
     }
     h1 {
      color: white;
    
     }
     p{
      color:red;
      background-color: white;
     }
     h2 > span{
      color:white;
     }
    @media (max-width:760px){
    h1{
           background-color: #449d44;
    
    }
    h2{
           background-color: #449d44;
    }
    }
    @media (min-width:760px){
    h1{
           background-color: skyblue;
           opacity: 0.8;
    
    }
    }
    #login{
    min-width: 123px;
    color:white;
    padding: 14px 14px 14px;
    overflow: hidden;
    float: left;
    
    }
    #social{
    margin:12px 0;
    }
    .btn-fb{
    color:#fff;
    background-color: #3b599d;
    margin:3px;
    }
    .btn-fb:hover{
    color:#fff;
    background-color: #3b599d;
    }
     .btn-tw{
    color:#fff;
    background-color: #55acee;
    margin:3px;
    }
    .btn-tw:hover{
    color:#fff;
    background-color: #55acee;
    }
    